* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
body {
    background: #4D4A4A;
    background: -webkit-linear-gradient(top left, #4D4A4A, #B3B2A8);
    background: -moz-linear-gradient(top left, #4D4A4A, #B3B2A8);
    background: linear-gradient(to bottom right, #4D4A4A, #B3B2A8);
    background-repeat: no-repeat;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: bisque;   
    

}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* HEADER */

.header-color {
    background: #4D4A4A;
    background: -webkit-linear-gradient(top left, #4D4A4A, #B3B2A8);
    background: -moz-linear-gradient(top left, #4D4A4A, #B3B2A8);
    background: linear-gradient(to bottom right, #4D4A4A, #B3B2A8);
}
.header-menu {
    margin: 0 auto;
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 
}
.header-wrapper {
    position: relative;
    margin-bottom: 40px;
    
}
.image {
    margin-bottom: 10px;
}
.profile {
    margin-left: 100px;
}
.profile h2 {
    max-width: 250px;
    text-align: center;
}
.profile p {
    max-width: 250px;
    text-align: center;
    margin-bottom: 20px;
}
.contacts {
    position: absolute;
    top: 85px;
    left: 500px;
    text-align: center;
}
.contacts h2 {
    margin-bottom: 10px;
}
.contacts ul {
    font-size: 25px;
}
.skills {
    position: absolute;
    top: 75px;
    left: 900px;
    text-align: center;
}
.skills h2 {
    margin-bottom: 10px;
}
.skills ul {
    font-size: 25px;
}

/* MAIN */

.about {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.wrapper-info {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.code h2 {
    text-align: center;
    margin-bottom: 20px;
}
.courses {
    text-align: center;
}
.courses h2 {
  
    margin-bottom: 20px;
}
.languages {
    text-align: center;
}
.languages h2{
  
    margin-bottom: 10px;
}
.portfolio {
    padding-bottom: 40px;
}
.portfolio h2{
    text-align: center;
    margin-bottom: 20px;
}
.portfolio-img {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
 
}

/* FOOTER */

.links {
    display: flex;
    justify-content: space-around;

    align-items: center;
}
.links p {
    font-size: 25px;
}
.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    background: #4D4A4A;
    background: -webkit-linear-gradient(top left, #4D4A4A, #B3B2A8);
    background: -moz-linear-gradient(top left, #4D4A4A, #B3B2A8);
    background: linear-gradient(to bottom right, #4D4A4A, #B3B2A8);
}